table {
  border-collapse: collapse;
  font-family: Calibri, sans-serif;
}

colgroup, tbody {
  border: solid medium;
}

td {
  border: solid thin;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  padding: 0;
}

input {
  border: none;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  background: none;
  border:none;
  font-size: 20px;
  color: white;
}

/* input:focus{
  outline:none;
} */
